$color-primary: #FDCE00;
$color-secondary: red;
$color-pale: rgb(196, 196, 199);
$color-mid: #494949;
$color-dark:black;
$color-transparent-black: rgba(0, 0, 0, 0.5);
$color-transparent-white: rgba(244, 244, 244, 0.7);
$color-terciary: orangered;
$color-quartenary:  rgba(255, 0, 0, 0.5);

@media screen and (max-width: 768px) {
    .media {
        display: block !important;
        text-align: center;
    }

    .img-responsive {
        justify-content: center;
        margin-bottom: 50px;
        width: 30%;
        height: 30%;
    }

    .row > .col-sm-12 { 
        h1 {
            margin: 32px;
            text-align: start;
            color: $color-dark;
            font-size: xx-large;
            font-weight: bold;
        }
    
        h3 {
            margin: 32px;
            font-size: x-large;
            margin-bottom: 50px;
            text-align: start;
            color: $color-mid;
        }
    
        .btn-social-icon {
            margin: 32px;
        }
    }
}

@media screen and (min-width: 768px) {
    .row > .col-sm-12 { 
        .btn-social-icon {
            margin: 90px;
        }
    }

    #txt-about {
        margin-left: 90px;
        justify-content: right;
    }
}
.container-nomargin {
    margin: 0 !important; 
}

.navbar {
    background-color: $color-primary;
}

.navbar .navbar-brand,
.navbar .navbar-text {
    color: $color-dark;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:link {
    color: $color-dark;
}

.navbar-nav .nav-item .nav-link:visited {
    color: $color-dark;
    text-decoration: underline;
}

.navbar-nav .nav-item .nav-link:hover{
    color: $color-secondary;
    text-decoration: underline;
}

.navbar-nav .nav-item .nav-link:active {
    color: $color-secondary;
    text-decoration: underline;
}

.navbar-nav .nav-item .nav-link:focus {
    color: $color-secondary;
    text-decoration: underline;
}
// Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective.
// Note: a:active MUST come after a:hover in the CSS definition in order to be effective.

.btn-flag {
    padding-top: 10px;
    width: 60px;
    height: 50px;
}

#header {
    height: 750px;
    background-image: url('https://raw.githubusercontent.com/hayanisaid/bootstrap4-website/master/images/headerback.jpg');
    background-size: cover;
    background-position: center;
}

.overlay {
    min-height: 100%;
    min-width: 100%;
    background: $color-transparent-white;
}

.row > .col-sm-12 { 
    position: absolute;
    right: 0;
    bottom: 0;
    
    h1 {
        text-align: start;
        color: $color-dark;
    }

    h3 {
        line-height: 2.2;
        margin-bottom: 90px;
        text-align: start;
        color: $color-mid;
    }
}

.row-content {
    padding: 20px 0;
    min-height: 100%;
    min-width: 100%;
}

section {
    padding-top: 70px;
    background: $color-transparent-black;
}

.site-footer {
    border-bottom: 1px ridge;
    background-image: linear-gradient($color-primary, white);
    padding: 20px 0; 
}

h5 {
    color: white;
    text-decoration: none;
}

#aboutme, #projects, #contact {
    background-color: #2b2929;
}

#experience {
    background-color: white;
}

#education {
    background-color: $color-pale;
}

.card {
    border-color: $color-terciary;
    .card-header{
        background-color: $color-terciary;
    }
}

.media .image-link {
    width: 20%;
    margin: 0 auto;
    display: block;
    align-self: center;
}

.image-link .img {
    display: inline;
    width: 100%;
}

#icon-footer {
    margin-right: 16px;
}