@media screen and (max-width: 768px) {
  .media {
    display: block !important;
    text-align: center; }
  .img-responsive {
    justify-content: center;
    margin-bottom: 50px;
    width: 30%;
    height: 30%; }
  .row > .col-sm-12 h1 {
    margin: 32px;
    text-align: start;
    color: black;
    font-size: xx-large;
    font-weight: bold; }
  .row > .col-sm-12 h3 {
    margin: 32px;
    font-size: x-large;
    margin-bottom: 50px;
    text-align: start;
    color: #494949; }
  .row > .col-sm-12 .btn-social-icon {
    margin: 32px; } }

@media screen and (min-width: 768px) {
  .row > .col-sm-12 .btn-social-icon {
    margin: 90px; }
  #txt-about {
    margin-left: 90px;
    justify-content: right; } }

.container-nomargin {
  margin: 0 !important; }

.navbar {
  background-color: #FDCE00; }

.navbar .navbar-brand,
.navbar .navbar-text {
  color: black;
  font-weight: bold; }

.navbar-nav .nav-item .nav-link:link {
  color: black; }

.navbar-nav .nav-item .nav-link:visited {
  color: black;
  text-decoration: underline; }

.navbar-nav .nav-item .nav-link:hover {
  color: red;
  text-decoration: underline; }

.navbar-nav .nav-item .nav-link:active {
  color: red;
  text-decoration: underline; }

.navbar-nav .nav-item .nav-link:focus {
  color: red;
  text-decoration: underline; }

.btn-flag {
  padding-top: 10px;
  width: 60px;
  height: 50px; }

#header {
  height: 750px;
  background-image: url("https://raw.githubusercontent.com/hayanisaid/bootstrap4-website/master/images/headerback.jpg");
  background-size: cover;
  background-position: center; }

.overlay {
  min-height: 100%;
  min-width: 100%;
  background: rgba(244, 244, 244, 0.7); }

.row > .col-sm-12 {
  position: absolute;
  right: 0;
  bottom: 0; }
  .row > .col-sm-12 h1 {
    text-align: start;
    color: black; }
  .row > .col-sm-12 h3 {
    line-height: 2.2;
    margin-bottom: 90px;
    text-align: start;
    color: #494949; }

.row-content {
  padding: 20px 0;
  min-height: 100%;
  min-width: 100%; }

section {
  padding-top: 70px;
  background: rgba(0, 0, 0, 0.5); }

.site-footer {
  border-bottom: 1px ridge;
  background-image: linear-gradient(#FDCE00, white);
  padding: 20px 0; }

h5 {
  color: white;
  text-decoration: none; }

#aboutme, #projects, #contact {
  background-color: #2b2929; }

#experience {
  background-color: white; }

#education {
  background-color: #c4c4c7; }

.card {
  border-color: orangered; }
  .card .card-header {
    background-color: orangered; }

.media .image-link {
  width: 20%;
  margin: 0 auto;
  display: block;
  align-self: center; }

.image-link .img {
  display: inline;
  width: 100%; }

#icon-footer {
  margin-right: 16px; }
